<section id="nosso-lado">
    <h3 class="section-title">
        <span class="text">Ao nosso lado</span>
    </h3>

    <div class="container">
        <p class="text-center">Homenagem àquelas pessoas super especiais que estarão no altar acompanhando esse Grande Dia!</p>

        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    @@include('swipe-01.html')
                </div>
                <div class="swiper-slide">
                    @@include('swipe-01.html')
                </div>
                <div class="swiper-slide">
                    @@include('swipe-01.html')
                </div>
                <div class="swiper-slide">
                    @@include('swipe-01.html')
                </div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
</section>
