<div class="row halign-middle">
    <div class="card-container">
        <div class="card">
            <div class="side">
                <img class="img-capa" src="https://lh3.googleusercontent.com/d1xO5NCmoVoBxcVhRw-77IBTuDuygLP3eGBcy2Q37XUfUlhS9qLKyMqQX0yQZoGuMqa1drJEMSiWZMsU1kEvz90zMQh1-0yZKjIEgj5KGCcjO5TKBRKCax0b805h0Lfz8ftRR9N94VOq1NpA-KbuKXJNG70hW84pyXyWlvUsyXWK6g4vrb4xOKtBxf7sqFH8fEyCXJJFpi3YYBXJmmH8MNhoRVtG81-Yyle_1jz0ecLVe6Skad3Obp1a8mfdqPavXSTvlViPYtUtJHbX3h1xEkN9rnvTb2CsE4m4tVw4FY7vWZh-b8QDI_6NX1KHBhTPA_riyGT8l6oX-l2gYxAV6Mz6kS2Mh2Cw0kysdaiaPEWrJ_RoYw6bhlVfviWgpGQzWB5773Zka7u9EW7AqP6_AhCj8oLZTH6wStcq4SkRVNXgVghmEyeKMMyxorRVxciO4lQBlvSnhraWEMjKvFV6pfRXr5RE20ahmWyQyGT6kP77vAuZADp2DKkeQ50_e2ePTkNd6kiudMfucA9PN-etojyoxXAHgbaSPQNIjPS4xj0iWONFlox2rpmIGNGsOS5bvQWgGUVw8Z6YoMJTpWSH76OGEIGdlzN1pEk7SG7mCRep8e0HoJY6NstfvjbOTPmvk3zkH4xV82iTIE-T9viHtRdyoujGWe60wK7EvRi5adROs4TZBiG-Aw1Xfszxuhm5zTK4zr0H1eqyrueg2w=w835-h626-no">
                <img class="img-persona" src="https://lh3.googleusercontent.com/Syje0v_nFMNxLFp0k2kg6TT1RsXzEZxnypzG5k2hrEIs3FpZZo4FoRAvpnU7QqLGMwKdR97W_Xz4laiAn1iS3AjmCObeTHwx_HLT5M9TT648IndB8sSkTqAA5nhJdwNB07sYT70SpaW_A-STqoMOLW82c2yeI-zKi8QJpQxUkSvJxCVGl2kCBBtPq9Elv0l9BKxOrC1Zj5vC_wAsUUc0jFF-XR6RFUSLGdl0-i_8sL0MOf1wHjG3UsdyVb2k8vgVU1WWvXLxQsMombxHCzMYrteUV69hvwUxJEBKOhnXAlOJiIqBykNqlK8LoVeAHMNXWfL47rmyRT4fA4snGslE1oGt1iEAIDCCf73bHOT_RK5RVSxNNBxA1NIX1px_ryHoQAEZADpuXTiJ5PCHzhQi9VUrwHAyqKjNuOjOQgxe8yX5EmqDkvgOE5YkDkPgP-2t0Y2d4Un8lT_go9g5lzceztUJYA6Di02THmqfH_Dr9p8_e7KcoydFpfnsqQTpHMtsLenSkHk0WMIRNUXsCFyGUxjC4pIWAHIKJwJysu8XVjRSRY39t8TtXnm9TceuqWmIHEpYZQOl39XFqlfFmYuSsMDMtJm8dLyWOYn66LV-a-fIaIDwsA8keQP6o1G5vrs2UZex6WXKzgQ3dpJe77lNkxSxDdKhp6B_FiZDmx20TmgjA11EF7VZo3OeJJ7LCezmu-JKLNBXS12njVGk5E8=w353-h626-no">
                <div class="box-description">
                    <h3 class="name">Gabriela & Willian</h3>
                    <p class="title">Padrinhos</p>
                    <a class="btn-flip">Veja nossa história com eles!</a>
                </div>
            </div>
            <div class="side back">
                <h3 class="title-history">Gabriela & Willian</h3>
                <p class="text-history">
                    Ut tellus elementum sagittis vitae et leo duis ut diam quam nulla porttitor massa id neque aliquam
                    vestibulum morbi blandit cursus risus at ultrices mi tempus imperdiet nulla malesuada pellentesque
                    elit eget gravida cum sociis natoque penatibus et magnis dis parturient montes nascetur ridiculus
                    mus mauris vitae ultricies leo integer
                </p>
                <div class="follow">
                    <p class="insta">@gabsgois</p>
                    <p class="insta">@willianramalho90</p>
                </div>

                <a class="btn-flip">Voltar para a capa!</a>
            </div>
        </div>
    </div>

    <div class="card-container">
        <div class="card">
            <div class="side">
                <img class="img-capa" src="https://lh3.googleusercontent.com/d1xO5NCmoVoBxcVhRw-77IBTuDuygLP3eGBcy2Q37XUfUlhS9qLKyMqQX0yQZoGuMqa1drJEMSiWZMsU1kEvz90zMQh1-0yZKjIEgj5KGCcjO5TKBRKCax0b805h0Lfz8ftRR9N94VOq1NpA-KbuKXJNG70hW84pyXyWlvUsyXWK6g4vrb4xOKtBxf7sqFH8fEyCXJJFpi3YYBXJmmH8MNhoRVtG81-Yyle_1jz0ecLVe6Skad3Obp1a8mfdqPavXSTvlViPYtUtJHbX3h1xEkN9rnvTb2CsE4m4tVw4FY7vWZh-b8QDI_6NX1KHBhTPA_riyGT8l6oX-l2gYxAV6Mz6kS2Mh2Cw0kysdaiaPEWrJ_RoYw6bhlVfviWgpGQzWB5773Zka7u9EW7AqP6_AhCj8oLZTH6wStcq4SkRVNXgVghmEyeKMMyxorRVxciO4lQBlvSnhraWEMjKvFV6pfRXr5RE20ahmWyQyGT6kP77vAuZADp2DKkeQ50_e2ePTkNd6kiudMfucA9PN-etojyoxXAHgbaSPQNIjPS4xj0iWONFlox2rpmIGNGsOS5bvQWgGUVw8Z6YoMJTpWSH76OGEIGdlzN1pEk7SG7mCRep8e0HoJY6NstfvjbOTPmvk3zkH4xV82iTIE-T9viHtRdyoujGWe60wK7EvRi5adROs4TZBiG-Aw1Xfszxuhm5zTK4zr0H1eqyrueg2w=w835-h626-no">
                <img class="img-persona" src="https://lh3.googleusercontent.com/Syje0v_nFMNxLFp0k2kg6TT1RsXzEZxnypzG5k2hrEIs3FpZZo4FoRAvpnU7QqLGMwKdR97W_Xz4laiAn1iS3AjmCObeTHwx_HLT5M9TT648IndB8sSkTqAA5nhJdwNB07sYT70SpaW_A-STqoMOLW82c2yeI-zKi8QJpQxUkSvJxCVGl2kCBBtPq9Elv0l9BKxOrC1Zj5vC_wAsUUc0jFF-XR6RFUSLGdl0-i_8sL0MOf1wHjG3UsdyVb2k8vgVU1WWvXLxQsMombxHCzMYrteUV69hvwUxJEBKOhnXAlOJiIqBykNqlK8LoVeAHMNXWfL47rmyRT4fA4snGslE1oGt1iEAIDCCf73bHOT_RK5RVSxNNBxA1NIX1px_ryHoQAEZADpuXTiJ5PCHzhQi9VUrwHAyqKjNuOjOQgxe8yX5EmqDkvgOE5YkDkPgP-2t0Y2d4Un8lT_go9g5lzceztUJYA6Di02THmqfH_Dr9p8_e7KcoydFpfnsqQTpHMtsLenSkHk0WMIRNUXsCFyGUxjC4pIWAHIKJwJysu8XVjRSRY39t8TtXnm9TceuqWmIHEpYZQOl39XFqlfFmYuSsMDMtJm8dLyWOYn66LV-a-fIaIDwsA8keQP6o1G5vrs2UZex6WXKzgQ3dpJe77lNkxSxDdKhp6B_FiZDmx20TmgjA11EF7VZo3OeJJ7LCezmu-JKLNBXS12njVGk5E8=w353-h626-no">
                <div class="box-description">
                    <h3 class="name">Gabriela & Willian</h3>
                    <p class="title">Padrinhos</p>
                    <a class="btn-flip">Veja nossa história com eles!</a>
                </div>
            </div>
            <div class="side back">
                <h3 class="title-history">Gabriela & Willian</h3>
                <p class="text-history">
                    Ut tellus elementum sagittis vitae et leo duis ut diam quam nulla porttitor massa id neque aliquam
                    vestibulum morbi blandit cursus risus at ultrices mi tempus imperdiet nulla malesuada pellentesque
                    elit eget gravida cum sociis natoque penatibus et magnis dis parturient montes nascetur ridiculus
                    mus mauris vitae ultricies leo integer
                </p>
                <div class="follow">
                    <p class="insta">@gabsgois</p>
                    <p class="insta">@willianramalho90</p>
                </div>

                <a class="btn-flip">Voltar para a capa!</a>
            </div>
        </div>
    </div>
</div>
