@import 'deps';

#lista-presentes {
    padding-top: 400px;
    transition: 1s ease-in-out;

    .lista {
        @extend .text-center;
        display: block;
        margin: 0 auto;
        width: 350px;
        height: 300px;
        background: darken(map-get($colors, 'back'), 5%);
        @extend .mg-both-50;
        @extend .pad-both-15;
        @extend .pad-sides-20;
        border-radius: 5px;

        img {
            width: 200px;
            transition: .25s ease-in-out;
        }

        &:hover {
            img {
                transform: scale(1.2);
            }
        }
    }

    &.active {
        @extend .pad-top-100;
    }
}
