<section id="lista-presentes">
    <h3 class="section-title">
        <span class="text">Lista de presentes</span>
    </h3>

    <div class="container">
        <p class="text-center">
            A melhor forma de presentear e começar a Nova Vida Juntos! ❤️
        </p>

        <a class="lista" href="#" >
            <img src="https://png.pngtree.com/element_origin_min_pic/17/07/26/bcae3019076e24fe6e7850f41c82703a.jpg">

            <p class="text">Lista de presentes</p>
        </a>

    </div>
</section>
