@import 'deps';

#hero {
    height: 100vh;
    width: 100%;
    background-image: url('../../img/back.jpg');
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    @extend .flex-column;
    @extend .halign-middle;
    @extend .valign-middle;

    .logo {
        max-width: 250px;
        @extend .mg-bottom-50;
    }

    .data-casamento {
        @extend .font-date;
        @extend .cl-white;
        @extend .uppercase;
        @include font-size(35);
        font-weight: 500;
    }
}
