<section id="historia">
    <div class="container">
        <p class="introducao">Sejam Bem Vindos! Aqui começa a história desse Grande Dia!</p>

        <div class="box-noivos">
            <img class="avatar-noivos" src="img/victor.jpg" alt="Victor">
            <img class="avatar-noivos" src="img/thais.jpg" alt="Thaís">
        </div>

        <h1 class="noivos">Victor & Thaís</h1>

        <p class="texto">
            Como começou a história de vocês? Será que as duas versões são a mesma? Aqui vocês podem contar aos seus convidados um pouco mais dessa história, para que assim possam sentir junto com vocês ainda mais a emoção desse processo tão especial!
        </p>
    </div>
</section>
