<section id="dicas">
    <h3 class="section-title">
        <span class="text">Dicas</span>
    </h3>

    <div class="container">
        <ul class="accordion">
            <li class="item-accordion">
                <div class="head" data-id="dica-01">
                    <span class="text-head">Primeira dicas vai aqui</span>
                </div>
                <div class="content" data-id="dica-01">
                    Conteúdo da primeira dica
                </div>
            </li>
            <li class="item-accordion">
                <div class="head" data-id="dica-02">
                    <span class="text-head">Segunda dicas vai aqui</span>
                </div>
                <div class="content" data-id="dica-02">
                    Conteúdo da segunda dica
                </div>
            </li>
            <li class="item-accordion">
                <div class="head" data-id="dica-03">
                    <span class="text-head">Terceira dicas vai aqui</span>
                </div>
                <div class="content" data-id="dica-03">
                    Conteúdo da terceira dica
                </div>
            </li>
        </ul>
    </div>
</section>
