@import 'deps';

#dicas {
    @extend .pad-bottom-70;
    padding-top: 400px;
    transition: 1s ease-in-out;

    .accordion {
        .item-accordion {
            @extend .mg-bottom-10;
            display: block;

            .head {
                @extend .row;
                @extend .pad-both-10;
                @extend .pad-sides-25;
                @extend .halign-between;
                background: darken(map-get($colors, 'back'), 10%);
                border-bottom: 3px solid map-get($colors, 'back');
                cursor: pointer;
                border-radius: 5px;

                .text-head {
                    font-weight: 600;
                }

                .icon {
                    position: relative;

                    .lineOne {
                        @extend .bg-white;
                        position: absolute;
                        right: 0;
                        width: 30px;
                        height: 3px;
                        top: calc(50% - 2px);
                    }

                    .lineTwo {
                        @extend .bg-white;
                        position: absolute;
                        right: 0;
                        width: 30px;
                        height: 3px;
                        top: calc(50% - 2px);
                        transform: rotate(90deg);
                        transition: .15s ease-in-out;
                    }
                }

                &.open {
                    .lineTwo {
                        transform: rotate(0deg);
                    }
                }
            }

            .content {
                @extend .hidden;
                @extend .pad-both-10;
                @extend .pad-sides-25;
                background: darken(map-get($colors, 'back'), 5%);
                border-radius: 5px;
            }
        }
    }


    &.active {
        @extend .pad-top-100;
    }
}
