<section id="albuns">
    <h3 class="section-title">
        <span class="text">Álbuns</span>
    </h3>

    <div class="container">
        <div class="row">
            <div class="col-4">
                <a class="album" href="#">
                    <div class="box-img">
                        <img class="img-album" src="https://scontent.fcgh26-1.fna.fbcdn.net/v/t1.0-9/48389253_2148667381851545_7883414460377858048_n.jpg?_nc_cat=111&_nc_eui2=AeFhM4qZG7x0JggvqlA2xW5UOCaG2fU_5FALwxOcrL7bIBzcSXFRFvyLFMdTNWhTNszuhLkhNVGR9cOCGFUbmV7kiyeiJoPVhvFXVVsZgn6xuw&_nc_ht=scontent.fcgh26-1.fna&oh=365384142d91e65beb00370c77234c77&oe=5CC17BC8"
                            alt="">
                    </div>
                    <h4 class="title-album">Victor & Thaís</h4>
                </a>
            </div>

            <div class="col-4">
                <a class="album" href="#">
                    <div class="box-img">
                        <img class="img-album" src="https://scontent.fcgh1-1.fna.fbcdn.net/v/t1.0-9/49393603_1832350803528811_3068444899641655296_n.jpg?_nc_cat=105&_nc_eui2=AeHQK2Whj4xdrBKJ3TVTbV2fpfJ6xnhn33hmqxzPexHPiD-CD0aPxW2o4B0nbDwbPZvCYle6lSIOUvJhRo8RDTPfy7KZ-UE4NGUhH3vQvB5MmA&_nc_ht=scontent.fcgh1-1.fna&oh=2a4f422f49f074f98aa3d48657ca023b&oe=5CC02D33"
                            alt="">
                    </div>
                    <h4 class="title-album">Pré Wedding</h4>
                </a>
            </div>

            <div class="col-4">
                <a class="album" href="#">
                    <div class="box-img">
                        <img class="img-album" src="https://scontent.fcgh26-1.fna.fbcdn.net/v/t1.0-9/50310997_2226264717412889_7474669208865865728_n.jpg?_nc_cat=108&_nc_eui2=AeEfxSsCWhyXo1k5yf4SuJXc1hvbggXbys6UmrjEq-H_DoW2ahgkCzwPEBfQbrghkDHR2HXeRRSattKRfJ45686uUEAuE0CwBT7LvVmTTw7xWQ&_nc_ht=scontent.fcgh26-1.fna&oh=c45c167dac6fdb62d6e04bc1e8fe8f2a&oe=5CFFEAC0"
                            alt="">
                    </div>
                    <h4 class="title-album">Friends</h4>
                </a>
            </div>
        </div>
    </div>
</section>
