//helpers
.hidden {
    display: none
}

.overflow-hidden {
    overflow: hidden
}

.p0 {
    padding: 0
}

.uppercase {
    text-transform: uppercase;
}

.img-responsive {
    max-width: 100%;
}

.font-title {
    font-family: 'Great Vibes', cursive;
    font-weight: 500;
}

.font-date {
    font-family: 'Pathway Gothic One', sans-serif;
}

.section-title {
    @extend .text-center;
    @extend .mg-bottom-30;
    background-image: url("../../img/rosa.png");
    background-position: center center;
    background-repeat: repeat-x;
    background-size: 30px;

    .text {
        @extend .bg-back;
        @extend .cl-gray;
        @extend .font-title;
        @include font-size(40);
        font-weight: 500;
        padding: 0 50px;
    }
}

.btn {
    @extend .font-date;
    @extend .pad-both-5;
    @extend .pad-sides-30;
    display: inline-block;
    border-radius: 50px;
    border: 1px solid;
    font-weight: 400;
    transition: .15s ease-in-out;

    &.danger {
        color: #ff3547;
        border-color: #ff3547;

        &:hover {
            background-color: #ff3547;
            color: #ffffff;
        }
    }

    &.warning {
        color: #fb3;
        border-color: #fb3;

        &:hover {
            background-color: #fb3;
            color: #ffffff;
        }
    }

    &.success {
        color: #28a745;
        border-color: #28a745;

        &:hover {
            background-color: #28a745;
            color: #ffffff;
        }
    }
}
