// PADRÃO DE ELEMENTOS DO PROJETO
* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-weight: 300;
    background-color: #F0EBE5;
    color: #333333;
}

ul { list-style: none }

a { text-decoration: none }

textarea {
    resize: none;
}
