@import 'deps';

#presenca {
    @extend .pad-bottom-70;
    padding-top: 400px;
    transition: 1s ease-in-out;

    .card-container {
        @extend .mg-both-40;
        position: relative;
        perspective: 600;
        width: 425px;
        height: 425px;
        margin: 0 auto;

        .card {
            position: absolute;
            height: 100%;
            width: 100%;
            transform-style: preserve-3d;
            transition: all 1s ease-in-out;

            .side {
                @extend .bg-pink;
                @extend .overflow-hidden;
                position: absolute;
                backface-visibility: hidden;
                height: inherit;
                max-width: 100%;
                box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);

                .fio-dourado {
                    @extend .text-right;
                    @extend .mg-bottom-30;
                    position: absolute;
                    top: 330px;
                    width: 100%;
                    background-image: url("../../img/fio-dourado.png");
                    background-position: center center;
                    background-repeat: repeat-x;
                    background-size: 30px;

                    .text {
                        @extend .bg-white;
                        @extend .cl-gray;
                        @extend .font-title;
                        @include font-size(40);
                        font-weight: 500;
                        padding: 0 20px;
                        border-radius: 5px 0 0 5px;
                        margin-right: -200px;
                        transition: .15s ease-in-out;
                        cursor: pointer;
                    }
                }

                &:hover {
                    .fio-dourado {
                        .text {
                            margin-right: 0;
                        }
                    }
                }

                &.back {
                    @extend .font-title;
                    @extend .bg-pink;
                    @extend .pad-all-15;
                    @extend .text-center;
                    transform: rotateY(180deg);
                    width: 100%;

                    .ola {
                        @include font-size(40);
                        font-weight: 500;
                    }

                    .text-convite {
                        @include font-size(25);
                        color: #999999;
                    }

                    .input-form {
                        @extend .bg-pink;
                        @extend .pad-top-15;
                        @extend .pad-bottom-5;
                        @extend .pad-sides-5;
                        @extend .font-title;
                        @include font-size(30);
                        display: block;
                        width: 100%;
                        margin: 0 auto;
                        border-bottom: 2px dotted map-get($colors, 'back');
                        color: #454545;

                        &::placeholder {
                            color: lighten(#454545, 20%);
                        }
                    }

                    .buttons {
                        @extend .row;
                        @extend .halign-between;
                        margin: 40px auto;
                    }

                    .go-back-capa {
                        @extend .cl-black;
                        cursor: pointer;
                    }
                }
            }

            &.active {
                transform: rotateY(-180deg);
            }
        }
    }

    &.active {
        @extend .pad-top-100;
    }
}
