<section id="presenca">
    <h3 class="section-title">
        <span class="text">Confirmação de presença</span>
    </h3>

    <div class="container">
        <div class="convite">
            <h3 class="ola">Olá, convidado,</h3>
            <p class="text-convite">sua presença é muito importante para nós</p>

            <form action="#">
                <input class="input-form" type="text" placeholder="Nome">
                <input class="input-form" type="email" placeholder="E-mail">
                <input class="input-form phone" type="text" placeholder="Telefone">

                <div class="buttons">
                    <a class="btn danger" href="#">Não vou</a>
                    <a class="btn warning" href="#">Não sei</a>
                    <a class="btn success" href="#">Confirmar</a>
                </div>
            </form>

            <img class="envelope" src="../../img/envelope.png">
        </div>
    </div>
</section>
