<!DOCTYPE html>
<html lang="br">

<head>
    <title>Thaís ♥ Victor • 11/01/2020</title>
    <!-- Adicionar nome do Projeto -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Meta Tags para SEO -->
    <meta name="description" content="Casamento Thaís & Victor">
    <meta name="keywords" content="casamento, victor, thaís">

    <meta name="theme-color" content="#21356c">
    <meta name="apple-mobile-web-app-status-bar-style" content="#21356c">
    <meta name="msapplication-navbutton-color" content="#21356c">

    <!-- Meta Tags para acompanhamento dos buscadores -->
    <meta name="googlebot" content="noindex,nofollow">
    <!-- DESENVOLVIMENTO || Os bucasdores NÃO irá encontrar e indexar o projeto -->
    <meta name="robots" content="noarchive">
    <!-- Não armazena cache -->

    <!-- Chamadas dos arquivos CSS e FAVICON -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/css/swiper.min.css">
    <link rel="stylesheet" href="./css/bundle.min.css">
</head>

<body>
    <main>
