@import 'deps';

#footer {
    background-color: darken(map-get($colors, 'back'), 15%);

    .title-footer {
        @extend .pad-all-15;
        @extend .text-center;
        @include font-size(40);
    }
}

.logo-footer {
    display: block;
    max-width: 100px;
    margin: 15px auto;
}
