@import 'deps';

#mural {
    padding-top: 400px;
    transition: 1s ease-in-out;

    .box-msg {
        @extend .text-center;
        @extend .pad-sides-40;
        @extend .pad-both-60;
        display: block;
        width: 50%;
        margin: 0 auto;
        font-style: italic;
        position: relative;

        &::before {
            @include font-size(90);
            content: '"';
            position: absolute;
            font-family: 'Coiny', cursive;
            top: -30px;
            left: 0;
            width: 100%;
            color: darken(map-get($colors, 'back'), 15%);
        }

        .assinatura {
            @extend .font-title;
            @extend .mg-top-30;
            @include font-size(40);
        }

        .data {
            color: #999999;
        }
    }

    .form-mural {
        @extend .row;
        @extend .flex-column;
        @extend .valign-bottom;
        width: 80vw;
        margin: 30px auto;

        .text-form,
        .input-form {
            @extend .pad-both-10;
            @extend .pad-sides-15;
            @extend .mg-bottom-20;
            width: 100%;
            border-radius: 5px;
            font-size: 16px;
            font-family: Quicksand, sans-serif;

            &::placeholder {
                font-style: italic;
                color: lighten(#454545, 20%);
            }
        }

        .btn {
            font-size: 20px;
            border-radius: 5px;
        }
    }

    &.active {
        @extend .pad-top-100;
    }
}
