<section id="mural">
    <h3 class="section-title">
        <span class="text">Mural de mensagens</span>
    </h3>

    <div class="container">
        <p class="text-center mg-bottom-50">
            Deixe seu recado para a gente!
        </p>

        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="box-msg">
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.

                        <p class="assinatura">Gabriela & Willian</p>
                        <p class="data">31/08/2019</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="box-msg">
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.

                        <p class="assinatura">Eric Marques</p>
                        <p class="data">18/07/2019</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="box-msg">
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam voluptua.


                        <p class="assinatura">Beatriz</p>
                        <p class="data">18/07/2019</p>
                    </div>
                </div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
</section>
